<div id="404" ng-controller="404Controller" ng-cloak class="ng-cloak">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>La página que busca no se encuentra.</h2>
    <div class="help">
      <p>¿Es un error?<br/><span class="mobile-spacer">&nbsp;</span>Porfavor <a href="/contact">contacte a soporte.</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
