<div id="498" ng-controller="498Controller" ng-cloak class="ng-cloak">
  <div class="container text-center">
    <h1>Lo sentimos, el enlace ha expirado o <span class="mobile-spacer">&nbsp; <br/></span>ya ha sido usado.</h1>
    <hr/>
    <div class="help">
      <p>¿Necesita ayuda para entrar a su cuenta?<br/><span class="mobile-spacer">&nbsp;</span>Porfavor <a href="/contact">contacte a soporte</a> o solicite <a href="/password/forgot">reestablecer su contraseña.</a></p>
      <a class="btn btn-lg btn-outline-dark" href="/password/forgot">Reestablecer Contraseña</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
