<div id="500" ng-controller="500Controller" ng-cloak class="ng-cloak">
  <div class="container text-center">
    <h1 class="display-1 mb-3">Oh no!</h1>
    <hr/>
    <h2>Ocurrió un error inesperado.</h2>
    <div class="help">
      <p>
        ¿Necesita ayuda con su cuenta? Porfavor <a href="/contact">contacte a soporte</a>.</p>
      <a class="btn btn-lg btn-outline-dark" href="/contact">Solicite ayuda</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
