<!DOCTYPE html>
<html>
  <head>
    <title>Sitio en Mantenimiento</title>
    <style>
      .page{width:800px; margin: 0 auto;text-align:center;}
      .main{
        margin:3em;
      }
    </style>
  </head>
  <body>

    <div class="page">
      <div class="main">
        <h1>
          Sitio en Mantenimiento
        </h1>
        <h2>
          Estaremos de regreso en unos momentos.
        </h2>
      </div>

      <div class="logo">
        <img src="images/sailsjs.svg" alt="logo" width="220">
      </div>
    </div>

  </body>
</html>
