  <div class="container ng-cloak" ng-cloak ng-controller="dashboardController">
    <titulo-pagina>
      <i class="fa fa-home" aria-hidden></i> ¡Bienvenido {{me.fullName}}!
    </titulo-pagina>
  </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
