<div id="confirmed-email" ng-cloak class="ng-cloak" ng-controller="confirmedEmailController">
  <div class="container">
    <div class="confirmation-message">
      <titulo-pagina>
        Correo electrónico verificado
      </titulo-pagina>
      <p>¡Felicitaciones, su cuenta ha sido verificada! Ahora tiene acceso completo.</p>
      <p><a class="btn btn-outline-info" href="/">Ir a mi escritorio</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
