<div id="forgot-password" ng-controller="forgotPasswordController">
  <div class="container ng-cloak" ng-cloak>
    <div class="forgot-form" ng-if="!cloudSuccess">
      <titulo-pagina>
        Reestablecer Contraseña
      </titulo-pagina>
      <p class="text-center">Para reestablecer su contraseña porfavor proporcione su correo electrónico.</p>
      <hr/>
      <form ng-submit="trySubmit()">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="usuario@dominio.com" ng-class="{'is-invalid' : formErrors.emailAddress}" ng-model="formData.emailAddress" autocomplete="email" autofocus>
          <div class="invalid-feedback" ng-if="formErrors.emailAddress">Debe proporcionar un correo electrónico válido.</div>
        </div>
        <p class="text-danger" ng-if="cloudError">
          <small>
            Ocurrió un error al procesar su solicitud.<br>Pruebe intentarlo de nuevo, si el problema persiste porfavor<a href="/support">contacte a soporte</a>.
          </small>
        </p>
        <div class="form-group">
          <button type="submit" class="btn btn-dark btn-lg btn-block" ng-disabled="syncing">
            <i ng-if="syncing" class="fa fa-spinner fa-spin" aria-hidden></i>
            <span ng-if="!syncing"><i class="fa fa-paper-plane" aria-hidden></i> Reestablecer Contraseña</span>
          </button>
        </div>
      </form>
      <p class="text-center"><a href="/login">Regresar a la entrada</a></p>
    </div>
    <div class="success-message" ng-if="cloudSuccess">
      <p>Hemos enviado un enlace para reestablecer su contraseña.</p>
      <hr/>
      <p>Si el correo no llega despues de varios minutos pruebe revisar el correo basura.
        Si aún asi no lo encuentra pruebe intentarlo de nuevo o <a href="/contacto">contacte a soporte</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Regresar a la entrada</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
