<div id="new-password" ng-controller="nuevoPasswordController" >
  <div class="container ng-cloak" ng-cloak>
    <div class="new-password-form">
      <titulo-pagina>
        Reestablecer Contraseña
      </titulo-pagina>
      <form ng-submit="trySubmit()">
        <div class="form-group">
          <label for="password">Nueva Contraseña</label>
          <input class="form-control" name="password" type="password"  ng-class="{'is-invalid' : formErrors.password}" ng-model="formData.password" placeholder="••••••••" autocomplete="new-password" autofocus>
          <div class="invalid-feedback" ng-if="formErrors.password">Escriba una contraseña.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmar Contraseña</label>
          <input class="form-control" name="confirm-password" type="password"  ng-class="{'is-invalid' : formErrors.confirmPassword}" ng-model="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" ng-if="formErrors.confirmPassword">Las contraseñas no coinciden.</div>
        </div>
        <p class="text-danger" ng-if="cloudError">
          <small>Ocurrió un error al procesar su solicitud.<br>Pruebe intentarlo de nuevo,
             si el problema persiste porfavor <a href="/contacto">contacte a soporte</a>.</small>
        </p>
        <div class="form-group">
          <button type="submit" class="btn btn-dark btn-lg btn-block" ng-disabled="syncing">
            <i ng-if="syncing" class="fa fa-spinner fa-spin" aria-hidden></i>
            <span ng-if="!syncing">
              <i class="fa fa-key" aria-hidden></i> Cambiar Contraseña
            </span>
          </button>
        </div>
      </form>
      <p class="text-center">¿Recuerda su contraseña? <a href="/login">Inicie Sesión</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
