<% /* Note: Unlike other emails, this is NOT intended for use with a layout! */ %>
  <div style="background-color: #fff; color: #000; font-size: 1em; border-top: 2px solid #00ACC4; border-bottom: 1px solid #E6E6E6; box-sizing: border-box; padding: 25px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
    <p style="margin-bottom: 25px;">Estimado administrador,</p>
    <p style="margin-bottom: 25px;">Hemos recibido el siguiente mensaje desde el sitio web:</p>
    <p><strong>De:</strong> <%= contactName %> &lt;<%= contactEmail %>&gt;</p>
    <p><strong>Asunto:</strong> <%= topic %></p>
    <p style="margin-bottom: 35px;"><strong>Mensaje:</strong> <%= message %></p>
  </div>
