<div id="homepage" ng-controller="homeController" class="ng-cloak container" ng-cloak>
  <titulo-pagina>Inicio</titulo-pagina>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
