<div id="nosotros" ng-cloak ng-controller="nosotrosController" class="ng-cloak" ng-init="init()">
  <div class="container">
    <titulo-pagina>Nosotros</titulo-pagina>
  </div>
</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
