<div id="privacidad" ng-cloak ng-controller="privacidadController" class="ng-cloak" ng-init="init()">
  <div class="container">
    <titulo-pagina>Privacidad</titulo-pagina>
  </div>
</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
