<div id="privacidad" ng-cloak ng-controller="terminosController" class="ng-cloak" ng-init="init()">
  <div class="container">
    <titulo-pagina>Términos de Uso</titulo-pagina>
  </div>
</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
