<div id="vision" ng-controller="visionController" class="ng-cloak" ng-init="init()" ng-cloak >

  <div class="container">
    <titulo-pagina>Visión</titulo-pagina>

  </div>

</div>

<%- /* Exponer datos de variables del servidor como window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
